@model APP_FrontEnd.Models.SubAluguerDTO

@{
    ViewData["Title"] = "Detalhes";
}

<h1>O Seu Sub-Aluguer</h1>
<div>
    <hr />
    <table class="table">
        <thead style="width:300px">
            <tr class="table__heading">
                <th class="table__heading">Detalhes</th>
        </thead>
        <tbody>
            <tr class="table__row" >
                <td class="table__content" style="width:250px">
                    @Html.DisplayNameFor(model => model.Id)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Id)
                </td>
            <tr />
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.NomeParque)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.NomeParque)
                </td>
            <tr />
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Numero)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Numero)
                </td>
            </tr>
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Fila)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Fila)
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Andar)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Andar)
                </td>
            <tr />
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Preco)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Preco)
                </td>
            <tr />
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.IsReservado)
                </td>
                <td class="table__content">
                    @if (Model.IsReservado)
                    {<text>Sim</text>}
                    else
                    {<text>Não</text>}
                </td>
            <tr />
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Inicio)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Inicio)
                </td>
            <tr />
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Fim)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Fim)
                </td>
            <tr />
        </tbody>
</table>
</div>
<div>
    <a class="text-light" style="font-size:1.2rem" asp-action="Index">Voltar à Lista</a>
</div>