@model IEnumerable<APP_FrontEnd.Models.SubAluguerDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Os seus sub-alugueres</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeParque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Andar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NifProprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservaSistemaCentralId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NifProprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaSistemaCentralId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReservado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Cancelar", "Cancelar", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
