@model APP_FrontEnd.Models.DetalheReservaDTO

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Cancelar</h1>
<div>
    <hr />
    <div class="headerCancelar">
        Tem a certeza que pretende cancelar esta reserva?
    </div>
    <table class="table">
        <tbody>
            <tr class="table__row">
                <td class="table__content" style="width:250px">
                    @Html.DisplayNameFor(model => model.ReservaParqueId)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.ReservaParqueId)
                </td>
            </tr>
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.NomeFreguesia)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.NomeFreguesia)
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.NomeParque)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.NomeParque)
                </td>
            </tr>
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.NumeroLugar)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.NumeroLugar)
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Fila)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Fila)
                </td>
            </tr>
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Andar)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Andar)
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Custo)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Custo)
                </td>
            </tr>
            <tr class="table__row:nth-child(odd)" style="background:#80bbc4">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Inicio)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Inicio)
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__content">
                    @Html.DisplayNameFor(model => model.Fim)
                </td>
                <td class="table__content">
                    @Html.DisplayFor(model => model.Fim)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Cancelar">
        <input id="pesquisa" type="submit" value="Cancelar" class="btn btn-danger" style="width:200px" />
    </form>
    <br />
    <a class="text-light" style="font-size:1.2rem" asp-action="Index">Voltar Atrás</a>

</div>

<style>
    .headerCancelar {
        border-bottom: 2px solid #ddd;
        background-color: #268596;
        color: #fff;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        text-align: left;
        font-weight: 300;
        font-size: 20px;
        font-size: 1.25rem;
        padding: 8px;
        line-height: 1.42857143;
        box-sizing: border-box;
        width: 550px;
    }
</style>
